@use 'base/mixins' as m;
@use 'base/variables' as v;


.form{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: v.$navyDark900;
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: -6rem;

}

.field{

    &__label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
    }
    &__checkmark{
        width: 1.8rem;
        height: 1.8rem;
        border: .1rem solid v.$grayNeutral600;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__checkbox:checked + &__checkmark {
        background: url(../img/icon-check.svg),
         v.$checkBackground;
  
        border-color: transparent;
        padding: .5rem;
        border-color: #4f46e5;
        background-repeat: no-repeat;
        background-position: center;
      
    }

    

    &__text{
        color: v.$grayNeutral300;
        display: block;
        width: 100%;
        background-color: v.$navyDark900;
        border-style: none;
        font-family: v.$fontFamily;
        font-size: 1.3rem;
        
    }


    


}

.todo-utility{
    width: 100%;
}