@use 'base/mixins' as m;
@use 'base/variables' as v;


.form{
    display: flex;
    justify-content: left;
    align-items: center;
    @include m.task;
    padding: 1rem 2rem;
    margin-top: -8rem;
}

body.light .form{
    background-color: v.$grayNeutral50;
}

.field{

    &__label{
        @include m.label;
    }
    &__checkbox{
      @include m.checkbox;
    }
    &__checkmark{
        @include m.checkmark;
    }

    &__checkbox:checked + &__checkmark {
     @include m.checkboxCustom;
      
    }

    

    &__text{
        color: v.$grayNeutral300;
        display: block;
        width: 100%;
        background-color: v.$navyDark900;
        border-style: none;
        font-family: v.$fontFamily;
        font-size: 1.3rem;
    }
}

body.light .field__text{
    background-color: v.$grayNeutral50;
}

.todo-utility{
    width: 100%;
}

.list{
    @include m.task;
    padding-left: 0;
   /*
         */
}

.task{
    padding: 0.5rem 2rem;
    display: flex;
    border-bottom: 1px solid v.$navyNeutral850;
    

 

 

    &__label{
        @include m.label;
    }

    &__checkbox{
        @include m.checkbox;
    }

    &__checkmark{
        @include m.checkmark;
    }

    &__text{

    }

    /* &__checkbox:checked + &__checkmark */

    &__checkbox:checked + &__checkmark{
        @include m.checkboxCustom;
    }

    .text{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__task{
            display: inline;
            color: v.$grayNeutral300;
            font-size: 1.3rem;
        }

        &__icon{
            display: block;
        }
    }
}

body.light li{
      background-color: v.$grayNeutral50;
      border-color: v.$grayNeutral300;
}
body.light .text__task{
    color: v.$navyDark900 !important;
}