@use 'base/variables' as v;
@use 'base/mixins' as m;


.resume{
    display: flex;
    justify-content: space-between;
    background-color: v.$navyDark900;
    border-radius: 0 0 .8rem .8rem;
    margin-top: -1.6rem;
    padding: .6rem 2rem;
    font-size: 1.2rem;
    &__text, &__clear{
       color: v.$purpleDarK700;
    }

    &__total{

    }
   
}

body.light .resume{
     background-color: v.$grayNeutral50;
}
body.light .resume__text, .resume__clear {
     color: v.$grayNeutral600;
}