@use 'variables' as v;
@use 'mixins' as m;


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: v.$navyDark950;
  font-size: 1.6rem;
  font-family: v.$fontFamily;
}

.light{
  background-color: v.$grayNeutral50;
  
  transition: background-color 0.3s ease;
}

.container{
  max-width: 50rem;
  width: 90%;
  margin: 0 auto;
}

.none{ display: none; }

@include m.tablet{
  .resume, .filters{
    display: none;
  }

  .footer{
    display:flex;
  }
  .filters--desktop{
    display: contents;
  }
  .resume__clear--desktop{
    display: inline;
  }
}
body.light .message{
  background-color: v.$navyNeutral850;
  color: v.$grayNeutral50;
}
.message{
  position: fixed;
  width: fit-content;
  display: inline-flex;
  max-width: 90%;
  gap: 1rem;
  min-width: 25rem;
  padding: 1rem 2rem;
  color: v.$grayNeutral50;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15rem;

  
  background-color: v.$navyDark950;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;

}
.error::before{
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: red;
  mask: url(../img/icon-cross.svg) no-repeat center;
  mask-size: contain;
}
.success2::before{
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: green;
  mask: url(../img/icon-check.svg) no-repeat center;
  mask-size: contain;
}