@use 'variables' as v;


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: v.$navyDark900;
  font-size: 1.6rem;
}
.light{
  background-color: v.$grayNeutral50;
  
  transition: 
    background-color 0.3s ease;

}