@use 'variables' as v;


@mixin tablet{
    @media (min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px){
        @content;
    }
}

@mixin task{
    background-color: v.$navyDark900;
    border-radius: .5rem;
}

@mixin label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

@mixin checkbox{
    position: absolute;
    opacity: 0;
}

@mixin checkmark{
    width: 1.8rem;
    height: 1.8rem;
    border: .1rem solid v.$grayNeutral600;
    border-radius: 50%;
    margin-right: 1rem;
}

@mixin checkboxCustom{
    background: url(../img/icon-check.svg),
    v.$checkBackground;
    border-color: transparent;
    padding: .5rem;
    border-color: #4f46e5;
    background-repeat: no-repeat;
    background-position: center;
}
/* Como usar este mixin
    .card {
    padding: 1rem;

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        padding: 3rem;
    }
    }

*/