@use 'base/variables' as v;

.background{
    background-image: url(../../src/images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-between;
    
 
    

    
    .background__title{
        margin: 0;
        color: v.$grayNeutral50;
        font-family: v.$fontFamily;
        letter-spacing: 1rem;
        text-transform: uppercase;
        font-size: v.$fontSize;
        font-weight: v.$fontW700;

    }

    .icon{
        background-image: url(../../src/images/icon-sun.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
    }
}